@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

$themeColor-Light: #E1DFCC;
$themeColor-Rose: #E0BBA2;
$themeColor-Dark:#000000;
$themeColor-Red: #DA5B3A;
$themeColor-Blue: #2A608D;
$themeColor-Green: #7F7C0A;
$theme-font: 'Source Code Pro', monospace;